/* contact_style.css */
* { margin: 0; padding: 0; }

#wrapper {
    width: 900px;
    margin: 0 auto;
}
body {
    color: blue;
    font-weight: bold;
    font-family: '맑은 고딕','돋움', arial, Sans-Serif
}
#button {
    width: 100px;
    color: white;
    background-color: #FFFFFF;
    text-align: center;
    height: 60px;
    padding: 20px 0px 0px 0px;
    font-size: 20px;
}
#button p { 
    font-size: 20px;
    background-color: darkcyan;
    margin-top: 5px;
}
#button a {
    text-decoration: none;
    text-align: center;
    color:black;
}
#button a:hover {
    text-decoration: underline;
    text-align: center;
    color: white;
}
#button img:hover {
    background-color: honeydew;
}
#button img {
    background-size: cover;
    width: 80px;
}
#nav {
    padding-left: 60px;
}
#nav ul {
    margin-left: 30px;
}
#nav li{
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    list-style-type: none;
    width: 80px;
    border-bottom: 1px solid lightgray;
    margin-left: 30px;
    text-align: center;
}
a { 
    text-decoration: none; 
}
a:hover { 
    color: #FFFFFF; 
}
li:hover:nth-child(odd) { 
    background-color: lightgreen; 
}
li:hover:nth-child(even) { 
    background-color: green; 
}
.active {
    color: crimson;
    
}
/*     footer */
#footer {
    color: #000000;
    border-top: 1px solid #cccccc;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#footer_copyright .site:hover { 
    color: aqua; 
}
/*     footer end */
